# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules
TranslatorApp-win32-x64

# Testing
coverage
*.test.js
*.spec.js

# Environment variables
.env
.env.*
*.env

# Editor specific files
.vscode/
*.swp
*.swo
.idea/
*.sublime-project
*.sublime-workspace

# Build output
dist
build
out